@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap');

:root {
    --lose-color: #b50e01;
    --win-color: #2c800d;
    --main-color: #b46edf;
    --modal-duration: 2s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: whitesmoke;
    line-height: 1.7;
}
.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
    text-align: center;
}
.restart-button {
    display: none;
    background: darkgrey;
    color: #333;
    padding: 0.5rem 1.3rem;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    border: none;
}
.restart-button:hover {
    background: var(--main-color);
}
.main-header {
    text-align: center;
    margin: 1rem 1rem;
}
.main-header h1 {
    margin-bottom: 1rem;
}
.user-score {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.2rem;
    color: white;
}
.user-score p:first-child {
    background: var(--main-color);
}
.user-score p:last-child {
    background: slategrey;
}
.choices {
   display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
    text-align: center;

}
.choice {
    cursor: pointer;
}
.choice:hover {
    color: var(--main-color);
}